body.index {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  text-align: center;
  position: relative;
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   
  z-index: -1;         
}

.titulo {
  font-size: 5em;
  text-shadow: 5px 5px 15px #000000;
  animation: parpadeo 1s infinite;
  position: absolute;
  left: 10%;
  transform: translate(50%, 150%);
}
.btn {
  background: #000000;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; 
  border-radius: 15px;
  box-shadow: 0 0 10px #ffffff;
  color: #fff;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  position: absolute;
  top: 10%;              
  left: 50%;
  transform: translate(-50%, 600%); 
}
.btn:hover {
  background: #6b0514;
  transform: translate(-50%, 600%) scale(1.1);
  box-shadow: 0 0 15px #520303;
}

@keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}